In [93]:
import requests, pandas as pd

In [94]:
apidata = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/")
json_data = apidata.json()

In [95]:
json_chips = json_data['chips']

In [96]:
df_chips = pd.DataFrame(json_chips)
df_chips.head()

,id,name,number,start_event,stop_event,chip_type,overrides
0,1,wildcard,1,2,19,transfer,"{'rules': {}, 'scoring': {}, 'element_types': ..."
1,2,wildcard,1,20,38,transfer,"{'rules': {}, 'scoring': {}, 'element_types': ..."
2,3,freehit,1,2,19,transfer,"{'rules': {}, 'scoring': {}, 'element_types': ..."
3,4,bboost,1,1,19,team,"{'rules': {}, 'scoring': {}, 'element_types': ..."
4,5,3xc,1,1,19,team,"{'rules': {}, 'scoring': {}, 'element_types': ..."

In [97]:
df_result = df_chips.drop(columns=["id", "overrides"])

In [98]:
df_result.head()

       name  number  start_event  stop_event chip_type
0  wildcard       1            2          19  transfer
1  wildcard       1           20          38  transfer
2   freehit       1            2          19  transfer
3    bboost       1            1          19      team
4       3xc       1            1          19      team

In [99]:
df_result.rename(
    columns = {
        "name" : "card_name",
        "number" : "card_useable_number",
        "start_event" : "card_start_event",
        "stop_event" : "card_stop_event",
        "chip_type" : "card_type"
    }, 
    inplace= True
)

In [100]:
df_result.head()

  card_name  card_useable_number  card_start_event  card_stop_event card_type
0  wildcard                    1                 2               19  transfer
1  wildcard                    1                20               38  transfer
2   freehit                    1                 2               19  transfer
3    bboost                    1                 1               19      team
4       3xc                    1                 1               19      team

In [101]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql://postgres:password@localhost:5432/postgres")

In [102]:
with engine.begin() as conn:
    conn.execute(text("TRUNCATE cards RESTART IDENTITY;"))

In [103]:
df_result.to_sql(
    name="cards",
    con=engine,
    if_exists="append",
    index=False
)

8