In [33]:
import requests
import pandas as pd
from sqlalchemy import create_engine, text

In [34]:
api_data = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/")
json_data = api_data.json()

In [35]:
df_phases = pd.DataFrame(json_data["phases"])

In [36]:
df_phases.head()

   id       name  start_event  stop_event  highest_score
0   1    Overall            1          38         1713.0
1   2     August            1           3          272.0
2   3  September            4           6          283.0
3   4    October            7           9          282.0
4   5   November           10          13          336.0

In [37]:
df_phases = df_phases[df_phases["name"] != 'Overall']
df_phases.head()

   id       name  start_event  stop_event  highest_score
1   2     August            1           3          272.0
2   3  September            4           6          283.0
3   4    October            7           9          282.0
4   5   November           10          13          336.0
5   6   December           14          19          508.0

In [38]:
df_phases = df_phases.drop(columns=["id"])

In [39]:
df_phases.head()

        name  start_event  stop_event  highest_score
1     August            1           3          272.0
2  September            4           6          283.0
3    October            7           9          282.0
4   November           10          13          336.0
5   December           14          19          508.0

In [40]:
df_phases.rename(
    columns={
        
        "name" : "phase_name",
        "start_event" : "phase_start_event",
        "stop_event" : "phase_stop_event",
        "highest_score" : "phase_highest_score"
    },
    inplace=True
)

In [41]:
df_phases.head()

  phase_name  phase_start_event  phase_stop_event  phase_highest_score
1     August                  1                 3                272.0
2  September                  4                 6                283.0
3    October                  7                 9                282.0
4   November                 10                13                336.0
5   December                 14                19                508.0

In [42]:
engine = create_engine("postgresql://postgres:password@localhost:5432/postgres")

In [43]:
with engine.begin() as con:
    con.execute(
        text(
            '''
            create table if not exists stg_phases(
                phase_id int generated always as identity primary key not null,
                phase_name varchar(100) not null,
                phase_start_event int not null,
                phase_stop_event int not null, 
                phase_highest_score int
            )
            '''
        )
    )

In [ ]:
with engine.begin() as con:
    con.execute(
        text(
            "truncate stg_phases RESTART IDENTITY;"
        )
    )
    
df_phases.to_sql(
        name="stg_phases",
        con=engine,
        if_exists='append',
        index=False
    )

10