In [1]:
from sqlalchemy import create_engine, text 
import pandas as pd 
import requests

In [2]:
api_data = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/")
json_data = api_data.json()

In [4]:
df = pd.DataFrame(json_data["teams"])

In [5]:
df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,1,ARS,...,None,False,0,1300,1375,1340,1400,1260,1350,1
1,7,0,None,2,0,Aston Villa,0,0,3,AVL,...,None,False,0,1145,1185,1150,1170,1140,1200,2
2,90,0,None,3,0,Burnley,0,0,19,BUR,...,None,False,0,1055,1095,1010,1090,1100,1100,43
3,91,0,None,4,0,Bournemouth,0,0,9,BOU,...,None,False,0,1150,1220,1100,1240,1200,1200,127
4,94,0,None,5,0,Brentford,0,0,7,BRE,...,None,False,0,1135,1175,1100,1110,1170,1240,130